@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.font-1 {
  font-family: Merriweather;
  font-style: normal;
}

.font-2 {
  font-family: Inter;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

/* share styles */

.primary-btn {
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  border: none;
}

/* header section */

.header-container {
  max-width: 1320px;
  margin: 0 auto;
}

.header-background {
  border-radius: 16px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 600px;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.header-description {
  padding: 150px 344px;
}

.header-subtitle {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.header-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  padding-top: 16px;
}

/* 65% OFF section add */

.off-section {
  width: 802.9px;
  margin: 120px auto;
}

.off-description {
  text-align: center;
  padding-bottom: 48px;
}

.off-title {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
}

.off-subtitle {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.off-text {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
}

/* 65% OFF Image style */

.off-img {
  max-width: 802.9px;
}

.off-img img {
  width: 100%;
}

/* midnight party 2024 */

.party-container {
  margin-bottom: 120px;
}

.party-background-img {
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 1320px;
  margin: 120px auto;
  height: 600px;
  border-radius: 16px;
}

.party-sub {
  display: flex;
  justify-content: space-around;
}

.party-description {
  text-align: left;
}

.party-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  width: 642px;
  padding: 126px 0 0 0;
}

.party-subtitle {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 24px 0 48px 0;
}

.party-text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 50px;
}

/* party image section */
.party-img {
  display: flex;
  align-items: center;
}

/* join now section */

.join-section {
  background: linear-gradient(
    rgba(255, 192, 203, 0.427),
    rgba(215, 197, 200, 0.153)
  );
  width: 1320px;
  margin: 120px auto;
  height: 464.65px;
  border-radius: 16px;
}

.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.join-title {
  padding-top: 10px;
}

.join-button {
  text-align: center;
  padding-top: 48px;
}

.highlight {
  color: rgb(255, 0, 0);
}

/* card section  */

.card {
  width: 1320px;
  margin: 120px auto;
}

.boss-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-1 {
  width: 393px;
}
.card-1 h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.card-1 h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-top: 16px;
}
.card-1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-top: 22px;
}
.card-2 {
  max-width: 364px;
}
.card-2 img {
  width: 100%;
  padding: 23px;
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 100%;
}

.card-3 {
  width: 276px;
}
.card-3 h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  justify-content: center;
}
.card-3 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 46px;
}
/* .card-3 img {
  width: 140px;
  padding-top: 200px;
  padding-right: 0px;
  padding-bottom: 2px;
} */

/* HOLIDAY SELL 50% */

.holiday-container {
  width: 1068px;
  margin: 0 auto;
  text-align: center;
}

.holiday-subtitle {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding-bottom: 16px;
}

.holiday-title {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  padding-bottom: 28px;
}

.holiday-description {
  width: 1068px;
  padding-bottom: 64px;
}

/* holiday sell image  */

.img-container {
  background-image: url(../images/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1320px;
  margin: 0 auto;
}

.holiday-sale-img {
  display: flex;
  justify-content: space-around;
}

.img-container-1 {
  max-width: 796.46px;
}

.img-container-1 img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.img-container-2 {
  max-width: 305.69px;
}

.img-container-2 img {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Portfolio section  */

.portfolio-container {
  width: 1320px;
  margin: 120px auto;
}
.portfolio-subtitle {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}
.portfolio-title {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 22px;
}
.portfolio-paragraph {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.images {
  max-width: 424px;
  height: 450px;
  border-radius: 16px;
  background-color: gray;
  box-shadow: 10px 10px 10px 5px rgba(128, 128, 128, 0.406);
}
.images img{
  width: 100%;
}