@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.font-1 {
  font-family: Merriweather;
  font-style: normal;
}

.font-2 {
  font-family: Inter;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

/* header section */

.header-container {
  max-width: 1320px;
  margin: 0 auto;
}

.header-background {
  border-radius: 16px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 600px;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.header-description {
  padding: 150px 344px;
}

.header-subtitle {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.header-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  padding-top: 16px;
}

/* 65% OFF section add */

.off-section {
  width: 802.9px;
  margin: 120px auto;
}

.off-description {
  text-align: center;
  padding-bottom: 48px;
}

.off-title {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
}

.off-subtitle {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.off-text {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
}

/* 65% OFF Image style */

.off-img {
  max-width: 802.9px;
}

.off-img img {
  width: 100%;
}

/* midnight party 2024 */

.party-container {
}

.party-background-img {
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 1320px;
  margin: 120px auto;
  height: 600px;
  border-radius: 16px;
}

.party-sub {
  display: flex;
  justify-content: space-around;
}

.party-description {
  text-align: left;
}

.party-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  width: 642px;
  padding: 126px 0 0 0;
}

.party-subtitle {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 24px 0 48px 0;
}

.party-text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 50px;
}

/* party image section */
.party-img {
  display: flex;
  align-items: center;
}

.party-img img {
}
